version: 2.1

executors:
  docker_builder:
    docker:
      - image: circleci/buildpack-deps:stable-scm

jobs:

  notify_kotlin_releases:
    docker:
      - image: circleci/node:9
    steps:
      - add_ssh_keys:
          fingerprints:
            - "8f:32:25:a0:59:0b:f4:1b:2b:ab:f7:c2:0a:ea:38:f6"
      - checkout
      - run: curl https://api.github.com/repos/JetBrains/kotlin/releases > notify_kotlin_releases/current.json
      - run: node notify_kotlin_releases/filter-project
      - run: node notify_kotlin_releases/notify
      - run: cp notify_kotlin_releases/current.json notify_kotlin_releases/previous.json
      - run: "git diff --exit-code --quiet -- notify_kotlin_releases/previous.json || (git add notify_kotlin_releases/previous.json && git config user.name $GITHUB_ACCOUNT && git config user.email $GITHUB_EMAIL && git commit -m \":pushpin: Update Kotlin previous releases\" && git push origin HEAD)"
  
  build:
    parameters:
      tag:
        type: string
      build_context:
        type: string
      source:
        type: string
      compiler_url:
        type: string
      additional_tags:
        type: string
    executor: docker_builder
    environment:
      TAG: << parameters.tag >>
      BUILD_CONTEXT: << parameters.build_context >>
      SOURCE: << parameters.source >>
      COMPILER_URL: << parameters.compiler_url >>
      ADDITIONAL_TAGS: << parameters.additional_tags >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build image << parameters.tag >>
          command: ./scripts/build.sh
      - run:
          name: Tag image << parameters.tag >>
          command: ./scripts/tag.sh
      - run:
          name: Push image << parameters.tag >>
          command: ./scripts/push.sh

only-deploy: &only-deploy
  branches:
    only:
      - deploy

workflows:
  version: 2

  notify_kotlin_releases:
    jobs:
      - notify_kotlin_releases
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - master

  build:
    jobs:
      - build:
          name: build_1_4_jdk12
          tag: zenika/kotlin:1.4-jdk12
          build_context: oracle
          source: openjdk:12-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4-jdk12 zenika/kotlin:1.4-rc-jdk12
          filters: *only-deploy
      - build:
          name: build_1_4_jdk12_alpine
          tag: zenika/kotlin:1.4-jdk12-alpine
          build_context: alpine
          source: openjdk:12-jdk-alpine
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4-jdk12-alpine zenika/kotlin:1.4-rc-jdk12-alpine zenika/alpine-kotlin:1.4-jdk12 zenika/alpine-kotlin:1.4-rc-jdk12
          filters: *only-deploy
      - build:
          name: build_1_4_jdk11
          tag: zenika/kotlin:1.4-jdk11
          build_context: debian
          source: openjdk:11-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4 zenika/kotlin:1.4-rc zenika/kotlin:1.4-jdk11 zenika/kotlin:1.4-rc-jdk11
          filters: *only-deploy
      - build:
          name: build_1_4_jdk11_slim
          tag: zenika/kotlin:1.4-jdk11-slim
          build_context: slim
          source: openjdk:11-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4-slim zenika/kotlin:1.4-rc-slim zenika/kotlin:1.4-jdk11-slim zenika/kotlin:1.4-rc-jdk11-slim
          filters: *only-deploy
      - build:
          name: build_1_4_jdk10
          tag: zenika/kotlin:1.4-jdk10
          build_context: debian
          source: openjdk:10-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4-jdk10 zenika/kotlin:1.4-rc-jdk10
          filters: *only-deploy
      - build:
          name: build_1_4_jdk10_slim
          tag: zenika/kotlin:1.4-jdk10-slim
          build_context: slim
          source: openjdk:10-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4-jdk10-slim zenika/kotlin:1.4-rc-jdk10-slim
          filters: *only-deploy
      - build:
          name: build_1_4_jdk8
          tag: zenika/kotlin:1.4-jdk8
          build_context: debian
          source: openjdk:8-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4-jdk8 zenika/kotlin:1.4-rc-jdk8
          filters: *only-deploy
      - build:
          name: build_1_4_jdk8_alpine
          tag: zenika/kotlin:1.4-jdk8-alpine
          build_context: alpine
          source: openjdk:8-jdk-alpine
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4-alpine zenika/kotlin:1.4-rc-alpine zenika/kotlin:1.4-jdk8-alpine zenika/kotlin:1.4-rc-jdk8-alpine zenika/alpine-kotlin:1.4 zenika/alpine-kotlin:1.4-rc zenika/alpine-kotlin:1.4-jdk8 zenika/alpine-kotlin:1.4-rc-jdk8
          filters: *only-deploy
      - build:
          name: build_1_4_jdk8_slim
          tag: zenika/kotlin:1.4-jdk8-slim
          build_context: slim
          source: openjdk:8-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.4.0-rc/kotlin-compiler-1.4.0-rc.zip
          additional_tags: zenika/kotlin:1.4-jdk8-slim zenika/kotlin:1.4-rc-jdk8-slim
          filters: *only-deploy
      - build:
          name: build_1_3_jdk12
          tag: zenika/kotlin:1.3-jdk12
          build_context: oracle
          source: openjdk:12-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:jdk12 zenika/kotlin:1-jdk12 zenika/kotlin:1.3.72-jdk12
          filters: *only-deploy
      - build:
          name: build_1_3_jdk12_alpine
          tag: zenika/kotlin:1.3-jdk12-alpine
          build_context: alpine
          source: openjdk:12-jdk-alpine
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:jdk12-alpine zenika/kotlin:1-jdk12-alpine zenika/kotlin:1.3.72-jdk12-alpine zenika/alpine-kotlin:jdk12 zenika/alpine-kotlin:1-jdk12 zenika/alpine-kotlin:1.3-jdk12 zenika/alpine-kotlin:1.3.72-jdk12
          filters: *only-deploy
      - build:
          name: build_1_3_jdk11
          tag: zenika/kotlin:1.3-jdk11
          build_context: debian
          source: openjdk:11-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:latest zenika/kotlin:1 zenika/kotlin:1.3 zenika/kotlin:1.3.72 zenika/kotlin:jdk11 zenika/kotlin:1-jdk11 zenika/kotlin:1.3.72-jdk11
          filters: *only-deploy
      - build:
          name: build_1_3_jdk11_slim
          tag: zenika/kotlin:1.3-jdk11-slim
          build_context: slim
          source: openjdk:11-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:slim zenika/kotlin:1-slim zenika/kotlin:1.3-slim zenika/kotlin:1.3.72-slim zenika/kotlin:jdk11-slim zenika/kotlin:1-jdk11-slim zenika/kotlin:1.3.72-jdk11-slim
          filters: *only-deploy
      - build:
          name: build_1_3_jdk10
          tag: zenika/kotlin:1.3-jdk10
          build_context: debian
          source: openjdk:10-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:jdk10 zenika/kotlin:1-jdk10 zenika/kotlin:1.3.72-jdk10
          filters: *only-deploy
      - build:
          name: build_1_3_jdk10_slim
          tag: zenika/kotlin:1.3-jdk10-slim
          build_context: slim
          source: openjdk:10-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:jdk10-slim zenika/kotlin:1-jdk10-slim zenika/kotlin:1.3.72-jdk10-slim
          filters: *only-deploy
      - build:
          name: build_1_3_jdk8
          tag: zenika/kotlin:1.3-jdk8
          build_context: debian
          source: openjdk:8-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:jdk8 zenika/kotlin:1-jdk8 zenika/kotlin:1.3.72-jdk8
          filters: *only-deploy
      - build:
          name: build_1_3_jdk8_alpine
          tag: zenika/kotlin:1.3-jdk8-alpine
          build_context: alpine
          source: openjdk:8-jdk-alpine
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:alpine zenika/kotlin:jdk8-alpine zenika/kotlin:1-alpine zenika/kotlin:1-jdk8-alpine zenika/kotlin:1.3.72-jdk8-alpine zenika/kotlin:1.3-alpine zenika/kotlin:1.3.72-alpine zenika/alpine-kotlin:latest zenika/alpine-kotlin:jdk8 zenika/alpine-kotlin:1 zenika/alpine-kotlin:1-jdk8 zenika/alpine-kotlin:1.3 zenika/alpine-kotlin:1.3-jdk8 zenika/alpine-kotlin:1.3.72 zenika/alpine-kotlin:1.3.72-jdk8
          filters: *only-deploy
      - build:
          name: build_1_3_jdk8_slim
          tag: zenika/kotlin:1.3-jdk8-slim
          build_context: slim
          source: openjdk:8-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-compiler-1.3.72.zip
          additional_tags: zenika/kotlin:jdk8-slim zenika/kotlin:1-jdk8-slim zenika/kotlin:1.3.72-jdk8-slim
          filters: *only-deploy
      - build:
          name: build_1_2_jdk12
          tag: zenika/kotlin:1.2-jdk12
          build_context: oracle
          source: openjdk:12-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2.71-jdk12
          filters: *only-deploy
      - build:
          name: build_1_2_jdk12_alpine
          tag: zenika/kotlin:1.2-jdk12-alpine
          build_context: alpine
          source: openjdk:12-jdk-alpine
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2.71-jdk12-alpine zenika/alpine-kotlin:1.2-jdk12 zenika/alpine-kotlin:1.2.71-jdk12
          filters: *only-deploy
      - build:
          name: build_1_2_jdk11
          tag: zenika/kotlin:1.2-jdk11
          build_context: debian
          source: openjdk:11-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2 zenika/kotlin:1.2.71 zenika/kotlin:1.2.71-jdk11
          filters: *only-deploy
      - build:
          name: build_1_2_jdk11_slim
          tag: zenika/kotlin:1.2-jdk11-slim
          build_context: slim
          source: openjdk:11-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2-slim zenika/kotlin:1.2.71-slim zenika/kotlin:1.2.71-jdk11-slim
          filters: *only-deploy
      - build:
          name: build_1_2_jdk10
          tag: zenika/kotlin:1.2-jdk10
          build_context: debian
          source: openjdk:10-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2.71-jdk10
          filters: *only-deploy
      - build:
          name: build_1_2_jdk10_slim
          tag: zenika/kotlin:1.2-jdk10-slim
          build_context: slim
          source: openjdk:10-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2.71-jdk10-slim
          filters: *only-deploy
      - build:
          name: build_1_2_jdk8
          tag: zenika/kotlin:1.2-jdk8
          build_context: debian
          source: openjdk:8-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2.71-jdk8
          filters: *only-deploy
      - build:
          name: build_1_2_jdk8_alpine
          tag: zenika/kotlin:1.2-jdk8-alpine
          build_context: alpine
          source: openjdk:8-jdk-alpine
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2-alpine zenika/kotlin:1.2.71-alpine zenika/kotlin:1.2.71-jdk8-alpine zenika/alpine-kotlin:1.2 zenika/alpine-kotlin:1.2-jdk8 zenika/alpine-kotlin:1.2.71 zenika/alpine-kotlin:1.2.71-jdk8
          filters: *only-deploy
      - build:
          name: build_1_2_jdk8_slim
          tag: zenika/kotlin:1.2-jdk8-slim
          build_context: slim
          source: openjdk:8-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.2.71/kotlin-compiler-1.2.71.zip
          additional_tags: zenika/kotlin:1.2.71-jdk8-slim
          filters: *only-deploy
      - build:
          name: build_1_1_jdk12
          tag: zenika/kotlin:1.1-jdk12
          build_context: oracle
          source: openjdk:12-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1.61-jdk12
          filters: *only-deploy
      - build:
          name: build_1_1_jdk12_alpine
          tag: zenika/kotlin:1.1-jdk12-alpine
          build_context: alpine
          source: openjdk:12-jdk-alpine
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1.61-jdk12-alpine zenika/alpine-kotlin:1.1-jdk12 zenika/alpine-kotlin:1.1.61-jdk12
          filters: *only-deploy
      - build:
          name: build_1_1_jdk11
          tag: zenika/kotlin:1.1-jdk11
          build_context: debian
          source: openjdk:11-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1 zenika/kotlin:1.1.61 zenika/kotlin:1.1.61-jdk11
          filters: *only-deploy
      - build:
          name: build_1_1_jdk11_slim
          tag: zenika/kotlin:1.1-jdk11-slim
          build_context: slim
          source: openjdk:11-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1-slim zenika/kotlin:1.1.61-slim zenika/kotlin:1.1.61-jdk11-slim
          filters: *only-deploy
      - build:
          name: build_1_1_jdk10
          tag: zenika/kotlin:1.1-jdk10
          build_context: debian
          source: openjdk:10-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1.61-jdk10
          filters: *only-deploy
      - build:
          name: build_1_1_jdk10_slim
          tag: zenika/kotlin:1.1-jdk10-slim
          build_context: slim
          source: openjdk:10-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1.61-jdk10-slim
          filters: *only-deploy
      - build:
          name: build_1_1_jdk8
          tag: zenika/kotlin:1.1-jdk8
          build_context: debian
          source: openjdk:8-jdk
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1.61-jdk8
          filters: *only-deploy
      - build:
          name: build_1_1_jdk8_alpine
          tag: zenika/kotlin:1.1-jdk8-alpine
          build_context: alpine
          source: openjdk:8-jdk-alpine
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1-alpine zenika/kotlin:1.1.61-alpine zenika/kotlin:1.1.61-jdk8-alpine zenika/alpine-kotlin:1.1 zenika/alpine-kotlin:1.1-jdk8 zenika/alpine-kotlin:1.1.61 zenika/alpine-kotlin:1.1.61-jdk8
          filters: *only-deploy
      - build:
          name: build_1_1_jdk8_slim
          tag: zenika/kotlin:1.1-jdk8-slim
          build_context: slim
          source: openjdk:8-jdk-slim
          compiler_url: https://github.com/JetBrains/kotlin/releases/download/v1.1.61/kotlin-compiler-1.1.61.zip
          additional_tags: zenika/kotlin:1.1.61-jdk8-slim
          filters: *only-deploy
